/* Space out content a bit */
body {
/*  padding-top: 20px;
  padding-bottom: 20px;*/
  color: white;
    background-image:
      linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ),
      url(http://i.imgur.com/FzvtuCO.jpg);
    background-position: center center;
    background-size: cover;
}

p {
  color: white;
}

ul {
  list-style: none;
  padding-right: 0;
  padding-left: 0;
}

li {
  display: inline;
  /*padding-left: 20px;
  padding-right: 20px;*/
}

li a {
  padding: 10px;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
/*contact links*/
.contact-links > li {
  display: inline-block
}

.contact-links > li + li {
  margin-right: 20px;
  margin-left: 10px;
  padding-left: 5px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}