.container {
  width: 100%;
  min-width: 1200px;
  height: 100%;
  background-image: url(../img/fire-2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.secs {
  position: relative;
  height: 100%;
}
.secs .inside {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
}
.secs.first {
  text-align: center;
}
.secs.first h2 {
  font-weight: bold;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  text-shadow: 1px 1px 1px #999,2px 2px 1px #999,3px 3px 1px #999,4px 4px 1px #999;
  transform: translate(-50%, -155%);
  z-index: 10;
}
.secs.first h4 {
  font-weight: bold;
  color: white;
  position: absolute;
  top: 70%;
  left: 50%;
  text-shadow: 1px 1px 1px #999,2px 2px 1px #999,3px 3px 1px #999,4px 4px 1px #999;
  transform: translate(-50%, -155%);
  z-index: 10;
}
.secs.first .inside {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  position: relative;
}
.secs.first .bar {
  width: 12.5vw;
  height: 80vh;
  /*width: 100px;
  height: 80px;*/
  opacity: 0.54;
  box-shadow: 0px 0px 50px #fff;
  display: inline-block;
  margin-right: 25px;
  background: #fff;
}
.secs.first .bar:nth-child(1) {
  background: #00a0e3;
  animation: bars 5s infinite;
}
.secs.first .bar:nth-child(2) {
  transform: translateX(130px);
  background: #00a0e3;
  animation: bars1 5s infinite;
}
.secs.first .bar:nth-child(3) {
  transform: translateX(30px);
  background: #b0cb1f;
  animation: bars2 5s infinite;
}
.secs.first .bar:nth-child(4) {
  transform: translateX(80px);
  background: #b0cb1f;
  animation: bars3 5s infinite;
}
.secs.first .bar:nth-child(5) {
  transform: translateX(-30px);
  background: #ef7f1a;
  animation: bars4 5s infinite;
}
.secs.first .bar:nth-child(6) {
  transform: translateX(135px);
  background: #ef7f1a;
  animation: bars5 5s infinite;
}
.secs.first .bar:nth-child(7) {
  transform: translateX(55px);
  background: #e31e24;
  animation: bars6 5s infinite;
}
.secs.first .bar:nth-child(8) {
  background: #e31e24;
  animation: bars7 5s infinite;
}

/*@keyframes bars {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(130px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes bars1 {
  0% {
    transform: translateY(130px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(130px);
  }
}
@keyframes bars2 {
  0% {
    transform: translateY(30px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(30px);
  }
}
@keyframes bars3 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes bars4 {
  0% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-30px);
  }
}
@keyframes bars5 {
  0% {
    transform: translateY(135px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(135px);
  }
}
@keyframes bars6 {
  0% {
    transform: translateY(55px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(55px);
  }
}
@keyframes bars7 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(120px);
  }
  100% {
    transform: translateY(0px);
  }
}*/

@keyframes bars {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(130px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes bars1 {
  0% {
    transform: translateX(130px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(130px);
  }
}
@keyframes bars2 {
  0% {
    transform: translateX(30px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(30px);
  }
}
@keyframes bars3 {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes bars4 {
  0% {
    transform: translateX(-30px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-30px);
  }
}
@keyframes bars5 {
  0% {
    transform: translateX(135px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(135px);
  }
}
@keyframes bars6 {
  0% {
    transform: translateX(55px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(55px);
  }
}
@keyframes bars7 {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(90px);
  }
  100% {
    transform: translateX(0px);
  }
}